/* 
*   LOADING
*/
.loading {
    width: 100%;
    height: 100vh;
}
.loading-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading-container img {
    width: 300px;
}

/* 
* HEADER
*/
header {
    position: sticky;
    top: 0;
    height: 60px;
    background-color: #fff;
    padding: 0 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.header-container {
    max-width: 1400px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.header-left {
    display: flex;
    align-items: center;
}
.header-left-brand {
    display: flex;
    align-items: center;
    gap: 14px;
}
.header-left-brand img {
    width: 80px;
}
.header-left-brand h2 {
    font-weight: 500;
}
.header-right {
    display: flex;
    align-items: center;
}
.header-right-login {
    display: flex;
    gap: 14px;
}
.header-right-login a:hover {
    border-bottom: 1px solid black;
}

@media only screen and (max-width: 800px) {
    .header-left-brand h2 {
        display: none;
    }
}

/* 
*   FOOTER
*/
footer {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dadada;
}
.footer-text {
    font-size: 12px;
    font-weight: 300;
    text-align: center;
}
@media only screen and (max-width: 800px) {
    footer {
        display: none;
    }
}

/* 
*   REGISTER PAGE
*/
.register-page {
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
}
.register-container {
    max-width: 500px;
    margin: auto;
    padding: 10px;
    width: 100%;
}
.register-form {
    padding: 20px 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 14px;
}
.register-form h1 {
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}

/* 
*   CREATE AD PAGE
*/
.create-ad-page {
    min-height: calc(100vh - 100px);
    display: flex;
    align-items: center;
}
.create-ad-container {
    max-width: 500px;
    margin: auto;
    padding: 10px;
    width: 100%;
}
.create-ad-form {
    padding: 20px 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 14px;
}
.create-ad-form h1 {
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}
.create-ad-form input::file-selector-button {
    margin-top: 10px;
    font-weight: bold;
    color: #1876d2;
    padding: 0.5em;
    border: thin solid grey;
    border-radius: 3px;
}
.create-ad-img-container {
    margin-top: 10px;
    display: flex;
    gap: 4px;
    overflow-x: auto;
}
.create-ad-img-input {
    margin-bottom: 10px;
}
.create-ad-img img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 12px;
}

/* 
*   HOME PAGE
*/
.item-list {
    max-width: 1200px;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
.item-card-container {
    width: 25%;
    padding: 10px;
}
.item-card {
    width: 100%;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.item-card-imgs {
    height: 300px;
    display: flex;
    overflow: scroll;
    border-radius: 12px 12px 0 0;
}
.item-card-imgs::-webkit-scrollbar {
  display: none;
}
.item-card-imgs img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.img-card-body {
    padding: 8px;
}
.img-card-price {
    font-size: 22px;
    font-weight: 500;
}
.img-card-title {
    color: #666;
    font-size: 14px;
}
.img-card-row-space-between {
    display: flex;
    justify-content: space-between;
}
.img-card-location {
    color: #666;
    font-size: 12px;
}
.img-card-footer {
    padding: 0 8px 8px 8px ;
    display: flex;
    justify-content: space-between;
    color: #666;
    font-weight: 300;
    font-size: 10px;
}
@media only screen and (max-width: 1200px) {
    .item-card-container {
        width: 33.33%;
    }
}
@media only screen and (max-width: 900px) {
    .item-card-container {
        width: 50%;
    }
}
@media only screen and (max-width: 600px) {
    .item-card-container {
        width: 100%;
    }
}
.next-page {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

/* 
*   ITEM DETAIL PAGE
*/
.item-detail {
    margin-top: 40px;
    max-width: 1200px;
    margin: auto;
    padding: 10px;
    display: flex;
    gap: 20px;
    min-height: calc(100vh - 100px);
}
.item-detail-imgs, .item-detail-body {
    width: 50%;
}
.item-detail-imgs {
    max-height: 500px;
    display: flex;
    overflow: scroll;
}
.item-detail-imgs img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.item-detail-imgs::-webkit-scrollbar {
    display: none;
}
.item-detail-basic, .item-detail-author, .item-detail-description {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.item-detail-price {
    font-size: 32px;
    font-weight: 500;
}
.item-detail-title {
    font-size: 14px;
    color: #666;
}
.item-detail-row-space-between {
    display: flex;
    justify-content: space-between;
}
.item-detail-row-space-between p {
    font-size: 12px;
    color: #666;
}
.item-detail-author {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item-detail-author-name {
    font-weight: 500;
}
.item-detail-description p {
    font-size: 14px;
    color: #444;
    margin-bottom: 4px;
}
@media only screen and (max-width: 700px) {
    .item-detail {
        flex-direction: column;
    }
    .item-detail-imgs, .item-detail-body {
        width: 100%;
    }
}